<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Procrastination Station</title>
    <head>
    <body>
    <p>Here's some TikToks I watched instead of doing work u_u:</p>
    <table style="width:100%">
      <tr>
        <td><a href="/classes">Click to see my classes</a></td>
      </tr>
      <tr>
        <td><a href="/classes">Click to see my classes</a></td>
      </tr>
      <tr>
        <td><a href="/classes">Click to see my classes</a></td>
      </tr>
      <tr>
        <td><a href="/classes">Click to see my classes</a></td>
      </tr>
      <tr>
        <td><a href="/classes">Click to see my classes</a></td>
      </tr>
    </table>
    </body>
</html>
