<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p>These are the classes I took this semester:</p>
    <table style="width:100%">
      <tr>
        <td>ENGI 1006 :)</td>
      </tr>
      <tr>
        <td>Adavanced Programming</td>
      </tr>
      <tr>
        <td>Fundamentals of Computer Systems</td>
      </tr>
      <tr>
        <td>Statistics 4001</td>
      </tr>
      <tr>
        <td>Chinese 3W</td>
      </tr>
    </table>
    <p> </p>
    <p>Surprisingly, my favorite class was Chinese. I really enjoyed our class's
    discussions, and even though the class was about getting better at the language,
    I thought the textbook topics on culture and history were interesting too.</p>
    </body>
</html>

