<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Procrastination Station</title>
    <head>
    <body>
    <p>Here's some TikToks I watched instead of doing work U_U:</p>
    <table style="width:100%">
      <tr>
        <td><a href="https://vm.tiktok.com/T25wtL/">Chick Fil A</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2HdMb/">*indentation</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2VkGU/">Mattress Firm</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2a68y/">MTA</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2hU4c/">Please be okay</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2yJyr/">No thanks</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2SY1F/">Driftveil City</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2H1X9/">You raise me up</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2gYwQ/">Connection</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2khGy/">;-;</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2xHax/">Sleep schedule</a></td>
      </tr>
      <tr>
        <td><a href=" https://vm.tiktok.com/T2mPyQ/">giraffecult</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2A3aj/">Tragic</a></td>
      </tr>
      <tr>
        <td><a href="https://vm.tiktok.com/T2ku5p/">Plate</a></td>
      </tr>
    </table>
    </body>
</html>
