<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><strong>Welcome to Katrina's page!</strong></p>
    <p>Name: Katrina Zhao</p>
    <p><img src="/static/image.jpg" alt="pic_of_me" width="230" height="300"></p> 
    <p>Grade: Sophomore</p>
    <p>Major: Computer Science</p>
    <p><a href="/assignments">Go to Assignments</a></p>
    <p><a href="/classes">Go to Classes</a></p>
    <p><a href="https://www.buzzfeed.com/summeranne/64-perfect-photos-of-dogs-wearing-sunglasses">Click to see Cool Dogs!</a></p>
    </body>
</html>

